<!DOCTYPE html>
<html>

<head>
	<!--Import Google Icon Font-->
	<link href="{{ url_for('static',filename='css/material-icons.css') }}" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.css') }}"
		  media="screen,projection"/>

	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}"
		  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Console | Multipyer</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/manifest.json">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<style>
		.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
			background-color: inherit;
		}

		.preloader-background {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #eee;

			position: fixed;
			z-index: 200;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.preloader-wrapper.big {
			width: 256px;
			height: 256px;
		}

		#addServer {
			top: 50%;
			transform: translateY(-50%) !important;
		}

		#addLeaderboard {
			top: 50%;
			transform: translateY(-50%) !important;
		}

		.range-field label {
			font-size: 0.8rem;
			transform: translateY(-14px);
		}

		.range-field {
		    margin-left: 0.75rem;
			margin-right: 0.75rem;
    	}

    	.backdrop {
    		background-color: #26a69a
    	}

    	h6 {
    		margin-top: 0;
    		font-size: 1.5rem;
    	}

    	h7 {
    		font-size: 1.23rem;
    	}

    	.card.small {
			height: 160px;
			width: 200px;
			display: inline-block;
			margin-right: 1.5rem;
		}


	</style>
</head>

<body>

<div class="preloader-background">
	<img src="favicons/favicon.png" style="height:250px;width:250px;position:absolute;">
	<div class="preloader-wrapper big active">

		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div id="addServer" class="modal">
	<form class="login-form" action="{{ url_for('create_server') }}" method="post">
		<div class="modal-content">
			<h4>Create Server</h4>

			<div class="input-field">
				<input name="gsname" id="gsname" type="text" style="margin: auto;">
				<label for="gsname" class="center-align">Server Name</label>
			</div>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action modal-close waves-effect waves-blue btn-flat">Create</button>
		</div>
	</form>
</div>

<ul id="accountdrop" class="dropdown-content">
	<li id="name" style="font-size: 16px;
    color: #9e9e9e;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
	cursor: default;">{{g.user.username}}
	</li>
	<li><a href="#!">Account</a></li>
	<li class="divider"></li>
	<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
</ul>

<nav style="position:relative; z-index:100">
	<div class="nav-wrapper light-blue lighten-1">
		<img src="favicons/favicon.png" style="width:60px; height:60px;margin-top: 2px;"><a href="{{ url_for('home')}}"
																							class="brand-logo">Multipyer</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="sass.html"><i class="material-icons">search</i></a></li>
			<li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
			<li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
			<li><a class="dropdown-button" href="#!" data-activates="accountdrop"><i class="material-icons">account_circle</i></a>
			</li>
		</ul>
	</div>
</nav>
<div class="row" style="margin-bottom: 0px;">

	<div class="col s12 m4 l3"
		 style="background-color: #ddd;height: calc(100vh - 64px);padding-left: 0px;padding-right: 0px;">
		<!-- Note that "m4 l3" was added -->
		<!-- Grey navigation panel

		  This content will be:
	  3-columns-wide on large screens,
	  4-columns-wide on medium screens,
	  12-columns-wide on small screens  -->
		<ul class="collection with-header" style="margin-top: 0px;margin-bottom: 0px;">
			<li class="collection-header">
				<h5 style="margin-top: 0px;margin-bottom: 0px;text-align: center;">
					Servers</h5></li>


			{% for server in servers %}
			<a href="{{url_for('console', server=server.id)}}">
				<li id="S{{server.id}}" class="collection-item avatar {% if server == selected %} active {% endif %}">
					{% if server.get_state() == "good" %}
					<img class="circle" src="{{ url_for('static', filename='images/working.png')}}">
					{% endif %}
					{% if server.get_state() == "warning" %}
					<img class="circle" src="{{ url_for('static', filename='images/warning.png')}}">
					{% endif %}
					{% if server.get_state() == "error" %}
					<img class="circle" src="{{ url_for('static', filename='images/error.png')}}">
					{% endif %}
					<span class="title">{{ server.name }}</span>
					<p>Using <span id="sGears">{{server.get_gears()}}</span> Gears
						<br> <span id="sInstances">{{server.get_running()}}</span> Running Instances
					</p>
				</li>
			</a>
			{% endfor %}
			<a id="addButton" class="modal-trigger" href="#addServer">
				<li class="collection-item" style="text-align: center;">
					<i id="addIcon" class="material-icons" style="color: #bbb;font-size: 50px;">add_circle</i>
				</li>
			</a>

				<li class="collection-item" style="text-align: center; cursor:pointer" onclick="refresh_servers()">
					<i class="material-icons" style="color: #bbb;font-size: 50px;">refresh</i>
				</li>

		</ul>

		<div style="bottom: 0;
    position: fixed;
    width: inherit;">
			<div class="divider"></div>
			<p style="margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;">You have a basic account. Using 18 out of 50 gears</p>
		</div>

	</div>

	{% if selected is not none %}
	<div class="col s12 m8 l9" style="padding-left: 0px;padding-right: 0px;">
		<!-- Note that "m8 l9" was added -->
		<!-- Teal page content

		  This content will be:
	  9-columns-wide on large screens,
	  8-columns-wide on medium screens,
	  12-columns-wide on small screens  -->
		<div class="row">
			<div class="col s12" style="padding-left: 0px;padding-right: 0px;">
				<ul class="tabs">
					<li class="tab col s2"><a class="active" href="#overview">Overview</a></li>
					<li class="tab col s3"><a href="#settings">Settings</a></li>
					<li class="tab col s3"><a href="#instances">Instances</a></li>
					<li class="tab col s2"><a href="#accounts">Accounts</a></li>
					<li class="tab col s2"><a href="#leaderboards">Leaderboards</a></li>
				</ul>
			</div>
			<div id="overview" class="col s12">{% include 'overview.html' %}</div>
			<div id="settings" class="col s12">{% include 'settings.html' %}</div>
			<div id="instances" class="col s12" style="padding:0">{% include 'instances.html' %}</div>
			<div id="accounts" class="col s12">{% include 'accounts.html' %}</div>
			<div id="leaderboards" class="col s12">{% include 'leaderboards.html' %}</div>
		</div>

	</div>
	{% endif %}

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

<script type="text/javascript">
$("#settingsForm").submit(function(event) {

	/* stop form from submitting normally */
	event.preventDefault();

	/* get some values from elements on the page: */
	var $form = $(this)

	/* Send the data using post */
	var posting = $.post("{{ url_for('server_settings') }}", {
		id: {% if selected is not none %} {{selected.id}} {% else %} "" {% endif %},
		min_clients: $form.find('input[name="min_clients"]').val(),
		max_clients: $form.find('input[name="max_clients"]').val(),
		min_stop: $form.find('input[name="min_stop"]').val(),
		max_instances: $form.find('input[name="max_instances"]').val(),
		name: $form.find('input[name="servername"]').val()
	});

	/* Put the results in a div */
	posting.done(function(data) {
		Materialize.toast('Settings Applied', 3000, 'rounded')
		refresh_servers()
	});
});

function refresh_servers() {
	$.get("{{ url_for('server_data', target='all') }}", function(data) {
		data = JSON.parse(data)
		for (var key in data) {
			dat = data[key]
			if (dat['state'] == 'good') {
				$('#S' + dat['id']).children('img').attr('src', '{{ url_for('static', filename='images/working.png')}}')
			}
			if (dat['state'] == 'warning') {
				$('#S' + dat['id']).children('img').attr('src', '{{url_for('static', filename='images/warning.png')}}')
			}
			if (dat['state'] == 'error') {
				$('#S' + dat['id']).children('img').attr('src', '{{url_for('static', filename='images/error.png')}}')
			}
			$('#S' + dat['id']).children('p').children('#sGears').html(dat['gears'])
			$('#S' + dat['id']).children('p').children('#sInstances').html(dat['instances'])
			if (dat['id'] == {{ selected.id }}){
				i = $('#insts')
				i.empty()
				t = $('#tbody')
				t.empty()
				a = $('#accs')
				a.empty()
				l = $('#lbs')
				l.empty()
				var running = false;
				for (var ins in dat['inst']){
					instance = dat['inst'][ins]
					console.log(instance)
					if (instance['stop'] == null){
						running = true;
						i.append('<div class="card small green darken-2"> \
						<div class="card-content white-text activator" style="cursor: pointer;"> \
							<span class="card-title activator">Instance #' + instance['id'] + '</span> \
							<p class="activator">' + instance['clients'] + ' clients currently connected out of ' + instance['max_clients'] + '. Running for ' + timeDifference(instance['start']) + '.</p> \
						</div> \
						<div class="card-reveal"> \
							<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span> \
						  <button class="btn waves-effect waves-light col s12" style="background-color:#ff5a92">Stop</button> \
							<button class="btn waves-effect waves-light col s12" style="background-color:#ff5a92; margin-top: 0.5rem;">Log</button> \
						</div> \
						</div>')
					}
					else {
						t.append('<tr> \
									<td>#' + instance['id'] + '</td> \
									<td>Stopped ' + timeDifference(instance['stop']) + ' ago</td> \
								  </tr>')
					}
				}

				for (var accs in dat['acc']){
					account = dat['acc'][accs]
					a.append('<div class="card small pink darken-1"> \
						<div class="card-content white-text activator" style="cursor: pointer;"> \
							<span class="card-title activator">' + account['username'] + '</span> \
							<p class="activator">Created ' + timeDifference(account['created']) + ' ago.</p> \
						</div> \
						<div class="card-reveal"> \
							<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span> \
							<button class="btn waves-effect waves-light col s12" style="background-color:#ff5a92">Delete</button> \
							<button data-target="AC' + account['username'] + '" class="btn modal-trigger waves-effect waves-light col s12" style="background-color:#ff5a92; margin-top: 0.5rem;">Data</button> \
						</div> \
					</div>')

					a.append('<div id="AC' + account['username'] + '" class="modal"> \
						<div class="modal-content"> \
						  <h4>' + account['username'] + '</h4> \
						  <p>' + account['data'].replace(new RegExp('"', 'g'), "'")  + '</p> \
						</div> \
						<div class="modal-footer"> \
						  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> \
						</div> \
					  </div>')
				}

				for (var lbs in dat['lb']){
					leaderboard = dat['lb'][lbs]
					t = '<li> \
						<div class="collapsible-header">' + leaderboard['name'] + '</div> \
						<div class="collapsible-body"> \
						<label class="center-align">Secret</label> \
						<h6>' + leaderboard['secret'] + '</h6> \
							<table id=""> \
								<thead> \
								<tr> \
									<th>Key</th> \
									<th>Value</th> \
								</tr> \
								</thead> \
								<tbody>'
					for (var it in leaderboard['items']){
						t += '<tr> \
							<td>' + leaderboard['items'][it][0] + '</td> \
							<td>' + leaderboard['items'][it][1] + '</td> \
						  </tr>'
					}
					t += '</tbody> \
						</table> \
						</div> \
					</li>'
					l.append(t)
				}

				if (dat['acc'].length == 0) {
					a = $('#accs')
					a.empty()
					a.append('<p style="text-align: center;font-size: 25px;margin-bottom: 0;color: #8888;">No Accounts Created<p>')
				}

				if (running == false){
					i = $('#instsrow')
					i.empty()
					i.append('<p style="text-align: center;font-size: 25px;margin-bottom: 0;color: #8888;">No Running Instances<p>')
				}
			}
		}
		$('.modal').modal({endingTop: '20%'});
	})

}

refresh_servers()
</script>
</body>

</html>