<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Multipyer</title>

	<!-- Favicons-->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/manifest.json">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS  -->
	<link href="{{ url_for('static',filename='css/material-icons.css') }}" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.css') }}"
		  media="screen,projection"/>

	<script src="{{url_for('static', filename='js/particles.js')}}"></script>

	<style>


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#splash-blue {
    background-color: #fff;
    background-image: radial-gradient(circle farthest-side at right bottom,#EAF6FF 34%,#8FBFE0 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.particles-js-canvas-el, #particles-js {
	height: 100%;
	width: 100%;

}

	</style>

</head>

{% include 'navbar.html' %}

<section id="splash-blue" class="z-depth-1">
	<div id="particles-js"></div>
</section>

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<br><br>
		<h1 class="header center orange-text">Multipyer</h1>
		<div class="row center">
			<h5 class="header col s12 light">An online networking solution for Python beginners</h5>
		</div>
		<div class="row center">
			{% if g.user.is_authenticated == False%}
			<a href="{{ url_for('register') }}" id="register-button"
			   class="btn-large waves-effect waves-light orange">Begin</a>
			{% else %}
			<a href="{{ url_for('console') }}" id="console-button"
			   class="btn-large waves-effect waves-light orange">Console</a>
			{% endif %}
		</div>
		<br><br>

	</div>
</div>


<div class="container" style="background-color: #fff;width: 100%;">
	<div class="section">

		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
					<h5 class="center">Speeds up development</h5>

					<p class="light">The complex, time-consuming process of setting up a server is all done for you.
					</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center light-blue-text"><i class="material-icons">money_off</i></h2>
					<h5 class="center">Free</h5>

					<p class="light">Support up to 20 players across multiple instances, all for free</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
					<h5 class="center">For beginners and pros</h5>

					<p class="light">With a simple, well documented syntax, creating a client using our Python module is
						super simple.
						Plus, it's totally open source.</p>
				</div>
			</div>
		</div>

	</div>
	<br><br>
</div>

<br>

<!--  Scripts-->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript">
(function($){
  $(function(){

    $('.button-collapse').sideNav();

  }); // end of document ready
})(jQuery); // end of jQuery name space

particlesJS.load('particles-js', '{{ url_for('static', filename='json/particles.json') }}', function() {
  console.log('callback - particles.js config loaded');
});



</script>

</body>
</html>
