<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">Multipyer</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/docs">Docs</a></li>
			{% if g.user.is_authenticated != False%}
				<li><a href="{{ url_for('console') }}">Console</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
			{% if not g.user.is_authenticated%}
				<li><a href="{{ url_for('login') }}">Login</a></li>
				<li><a href="{{ url_for('register') }}">Register</a></li>
			{% endif %}
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="#">Navbar Link</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>